@import url('https://fonts.googleapis.com/css2?family=Calligraffitti&family=Jost:ital,wght@0,100..900;1,100..900&family=Marcellus&family=Outfit:wght@100..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Vujahday+Script&display=swap');
@import "tailwindcss";

*{
  font-family: Outfit;
}

@theme {
  --color-primary: #5f6FFF;
  --grid-template-columns-auto: repeat(auto-fill, minmax(200px, 1fr));
}

.active hr{
  @apply block
}
::-webkit-scrollbar{
  @apply hidden
}
